body {
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0 auto;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

header {
  background-color: #ffffff;
}

.header-wrap {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header-logo {
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93333;
  color: #173a56;
  margin-right: 237px;
}

.nav-item-span {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.75;
  color: #22343d;
}

.header-nav-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #22343d;
  padding: 26px 0;
  display: block;
}

.header-reg {
  display: flex;
  gap: 21px;
  align-items: center;
}

.header-reg-btn-in {
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #173a56;
  min-width: 105px;
  padding-top: 9px;
  padding-bottom: 9px;
  border-radius: 4px;
  border: 1px solid #bcd0e5;
  background-color: #fff;
}

.header-reg-btn-up {
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  background-color: #02897a;
  min-width: 113px;
  padding-top: 9px;
  padding-bottom: 9px;
  border-radius: 4px;
  border: none;
}

/*! хедер !*/
.hero-container {
  display: flex;
  margin-top: 100px;
  margin-bottom: 100px;
}
.hero-text-group {
  max-width: 465px;
  margin-top: 112px;
  margin-bottom: 112px;
  margin-right: 35px;
}
.hero-headline {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: #22343d;
  margin-bottom: 18px;
}
.hero-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55556;
  color: #22343d;
  margin-bottom: 45px;
}
.hero-list {
  display: flex;
  gap: 30px;
  text-align: center;
  min-width: 372.54px;
  min-width: 53px;
}
.hero-btn-started {
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  background-color: #02897a;
  min-width: 178px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: none;
  border-radius: 4px;
}
.hero-btn-watch {
  font-weight: 600;
  font-size: 16px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #02897a;
  border: none;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #fff;
}
.hero-thumb {
  width: 610px;
  height: 555px;
  margin-left: 35px;
}
.hero-thumb img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
/* перша секція  */
.product-title {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #22343d;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 50px;
  max-width: 539px;
  padding: 0 30px;
}
.product-list {
  display: flex;
  gap: 30px;
}
.product-list-item {
  width: calc((100% - 22px * 3) / 4);
  padding: 0 4px;
  margin-bottom: 50px;
}
.product-list-item-subtitle {
  font-weight: 600;
  font-size: 22px;
  color: #22343d;
  margin-bottom: 13px;
}
.product-list-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
}
.product-btn {
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  background-color: #02897a;
  min-width: 175px;
  padding-top: 15px;
  padding-bottom: 14px;
  border-radius: 4px;
  border-style: none;
  margin-bottom: 50px;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* розібратись з кнопкою чого вона їде */
}
/* друга секція без картинки */
.management-container {
  display: flex;
  margin-top: 100px;
  margin-bottom: 100px;
}
.management-text-group {
  max-width: 486px;
  margin-top: 41px;
  margin-bottom: 40px;
  margin-right: 84px;
}
.management-subtitle {
  font-weight: 600;
  font-size: 16px;
  color: #22343d;
  margin-bottom: 8px;
}
.management-title {
  font-weight: 700;
  font-size: 32px;
  color: #22343d;
  margin-bottom: 25px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.management-list-item-subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
  margin-bottom: 12px;
}
.management-list-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
}
.list-text-group-first {
  margin-bottom: 30px;
}
.list-text-group-midl {
  margin-bottom: 25px;
}
.management-thumb {
  width: 540px;
  height: 500px;
  margin-left: 84px;
}
.management-thumb img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
/* третя секція  */

.customer-support-container {
  display: flex;
  margin-top: 100px;
  margin-bottom: 100px;
}
.customer-support-thumb {
  width: 540px;
  height: 500px;
  margin-right: 84px;
}
.customer-support-thumb img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* Розібратись з картинкою ЧОГО ВОНА БІЛЬША?? */
.customer-support-text-group {
  max-width: 450px;
  margin-top: 41px;
  margin-bottom: 40px;
  margin-left: 84px;
}
.customer-support-subtitle {
  font-weight: 600;
  font-size: 16px;
  color: #22343d;
  margin-bottom: 8px;
}
.customer-support-title {
  font-weight: 700;
  font-size: 32px;
  color: #22343d;
  margin-bottom: 25px;
}
.customer-support-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
  margin-bottom: 30px;
}
.customer-support-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.customer-support-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
  margin-left: 30px;
}
/* четверта секція  */
.optimisation-container {
  display: flex;
  margin-top: 100px;
  margin-bottom: 100px;
}
.optimisation-text-group {
  max-width: 486px;
  margin-top: 41px;
  margin-bottom: 40px;
  margin-right: 84px;
}
.optimisation-subtitle {
  font-weight: 600;
  font-size: 16px;
  color: #22343d;
  margin-bottom: 8px;
}
.optimisation-title {
  font-weight: 700;
  font-size: 32px;
  color: #22343d;
  margin-bottom: 25px;
}
.optimisation-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.optimisation-item-subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
  margin-bottom: 12px;
}
.optimisation-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
}
.optimisation-thumb {
  width: 540px;
  height: 500px;
  margin-left: 84px;
}
.optimisation-thumb img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
/* п'ята секція */
.process-container {
  margin-top: 150px;
  margin-bottom: 100px;
}
.process-text-group {
  max-width: 542px;
  margin: 0 auto;
  margin-bottom: 48px;
}
.process-title {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #22343d;
  margin-bottom: 25px;
}
.process-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  color: #22343d;
  margin-bottom: 40px;
}
.process-list {
  display: flex;
  flex-wrap: wrap;
}
.process-list-item {
  display: flex;
  align-items: center;
  min-width: 408px;
  align-content: center;
  margin: 0 auto;
}
/* Пофіксити відстань */
.process-list-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-right: 20px;
  margin-left: 20px;
}
.procees-item-text {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #2f281e;
  min-width: 300px;
  fill: #fff;
  box-shadow: 2px 2px 10px 0 rgba(23, 58, 86, 0.15);
  padding: 13px 20px;
  border-radius: 75px;
  margin: 0 auto;
}
.process-btn {
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  background-color: #02897a;
  padding: 15px 30px;
  border-radius: 4px;
  border-style: none;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
/* шоста секція без картинок */
.content-title {
  font-weight: 700;
  font-size: 34px;
  color: #22343d;
}
.content-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
  max-width: 465px;
  margin-top: 10px;
  margin-bottom: 40px;
}
.content-list {
  display: flex;
}
.content-list-item {
  width: calc((100% - 60px) / 3);
  margin: auto;
  align-items: center;
}
.content-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #22343d;
  margin-top: 24px;
  margin-bottom: 12px;
}
.content-item-text-span {
  font-weight: 700;
}
.content-item-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.66667;
  color: #22343d;
}
.content-item-subtitle-green {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.66667;
  color: #02897a;
}
/* сьома секція без картинок */
.section-price .container {
  margin-top: 150px;
  margin-bottom: 100px;
}
.price-title {
  font-weight: 700;
  font-size: 34px;
  color: #22343d;
  text-align: center;
  margin-bottom: 10px;
}
.price-text {
  font-weight: 500;
  font-size: 16px;
  color: #22343d;
  text-align: center;
  margin-bottom: 40px;
}
.price-list {
  display: flex;
}
.price-list-item,
.price-list-item-standard {
  margin: 0 auto;
  width: calc((100% - 72px * 2) / 3);
}
.price-list-item,
.price-list-item-standard {
  border-radius: 8px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
  background: #fff;
}
.price-list-subtitle,
.price-list-item,
.price-list-subtitle-standard,
.price-list-item-standard {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.66667;
  color: #22343d;
  margin-top: 32px;
  margin-bottom: 8px;
  text-align: center;
}
.price-item-text,
.price-item-text-standard {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 2.5;
  color: #22343d;
  text-align: center;
}
.price-group {
  display: flex;
  margin-bottom: 16px;
}
.price-item-cost,
.price-item-cost-standard {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 76px;
  line-height: 1.31579;
  letter-spacing: 0em;
  text-align: center;
  color: #02897a;
  margin-left: 83px;
  margin-right: 7px;
  min-width: 52px;
}
.price-item-dollar,
.price-item-dollar-standard {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  letter-spacing: 0em;
  color: #02897a;
  margin-top: 40px;
  text-align: start;
}
.price-item-month {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.01em;
  color: #afafaf;
}
.price-list-sublist {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.375;
  letter-spacing: 0.01em;
  color: #22343d;
  text-align: center;
}
.price-sublist-item:not(last-child),
.price-sublist-item-standard:not(last-child) {
  margin-bottom: 16px;
}

.price-btn {
  font-family: "Montserrat", sans-serif;
  background: #02897a;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  padding: 11px 19px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 32px;
}
/* зелена підсекція */
.price-list-item-standard {
  background-color: #02897a;
}
.price-list-subtitle-standard {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.66667;
  color: #fff;
}
.price-item-text-standard {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 2.5;
  color: #fff;
}
.price-item-cost-standard {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 76px;
  line-height: 1.31579;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
}
.price-item-dollar-standard {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  letter-spacing: 0em;
  color: #fff;
}
.price-item-month-standard {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.01em;
  color: #e0e0e0;
}

.price-list-sublist-standard {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.375;
  letter-spacing: 0.01em;
  color: #fff;
  text-align: center;
}
.price-sublist-item-standart {
  margin-bottom: 16px;
}
.price-btn-standard {
  font-family: "Montserrat", sans-serif;
  background: #fff;
  font-weight: 600;
  font-size: 18px;
  color: #02897a;
  padding: 11px 19px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 32px;
}
/* восьма секція */
.section-client .container {
  margin-bottom: 100px;
}
.client-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.78125;
  letter-spacing: 0.01em;
  color: #22343d;
  text-align: center;
  margin-bottom: 10px;
}
.client-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.01em;
  text-align: center;
  color: #22343d;
}
.client-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.01em;
  color: #737373;
  margin-top: 62px;
}
.client-list {
  margin-top: 40px;
  display: flex;
}
.client-list-item {
  border: 1px solid #dedede;
  border-radius: 5px;
  padding: 30px 35px;
  width: calc((100% - 130px) / 3);
  margin: auto;
}
.client-item-subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #02897a;
}
.client-item-prof {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.01em;
  color: #252b42;
}
.client-designer-group {
  display: flex;
  margin-top: 16px;
}
.designer-group-text {
  margin-left: 14px;
}
/* дев'ята секція */
.promo-flex {
  display: flex;
  margin: auto;
}
.section-promo-last .container {
  background-color: #02897a;
  border-radius: 32px;
}
.promo-text-last {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.514;
  color: #fff;
  max-width: 510px;
  margin-top: 49px;
  margin-bottom: 10px;
  margin-right: 46px;
}
.promo-thumb {
  width: fit-content;
  height: fit-content;
  margin-top: 4px;
  margin-bottom: 10px;
}
.promo-thumb {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.promo-btn-last {
  background-color: #fff;
  font-weight: 600;
  font-size: 20px;
  color: #02897a;
  padding: 10px 34px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-right: auto;
  margin-bottom: 66px;
  min-width: 150px;
}
/* десята сеція */
.logo-footer {
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93333;
  color: #173a56;
}
.footer-subtitle {
  font-weight: 500;
  font-size: 20px;

  /* line-height: 30px; */
  line-height: 1.5;
  color: #22343d;
}
.footer-list-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 2.1875;
  color: #22343d;
}
.footer-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #22343d;
}
.footer-btn-enter {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #02897a;
}
.footer-btn-up {
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #fff;
  background-color: #02897a;
}
.footer-last-text {
  font-weight: 400;
  font-size: 16px;

  /* line-height: 30px; */
  line-height: 1.875;
  color: #22343d;
}
